* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: bahnschrift;
}

@font-face {
    font-family: bahnschrift;
    src: url(./bahnschrift.ttf);
}

body {
    background-color: #0A0A0B;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    box-sizing: border-box;
    max-width: calc(100% - 20px);
    height: 80px;
    color: white;
    font-family: bahnschrift;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

.dp_logo img {
    width: 4.205vw;
    margin-left: 50px;
    margin-top: 50px;
}

.phantom {
    align-self: center;
}

.phantom_connect {
    width: 8.5vw;
    height: 2.65vw;
    border-radius: 15px;
    background-color: #4E44CE;
    color: #EDEAE5;
    border: 0;
    font-family: bahnschrift;
    font-size: 1.285vw;
    cursor: pointer;
    margin-right: 3;
    transition: 0.5s;
}

.phantom_connect:hover {
    background-color: #EDEAE5;
    color: #000000;
    transform: translateY(-1vh);
    transition: 0.5s;
}

.middle_box {
    width: 37.2vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.28vw;
}



.team_att {
    color: #474747;
}
.merchandise_att {
    color: #474747;
}
.whitepaper_att {
    color: #474747;
}

.merchandise_att:hover {
    color: #EDEAE5;
}
.team_att:hover {
    color: #EDEAE5;
}
.whitepaper_att:hover {
    color: #EDEAE5;
}



.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.me_logo {
    margin-top: 12px;
}

.twitter_logo {
    margin-top: 4px;
}

.discord_logo {
    margin-top: 4px;
}

.staking_section {
    box-sizing: border-box;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.staking_menu {
    width: 70vw;
    height: 3.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5vw;
}

.staking_title {
    font-size: 4.26vw;
    color: #EDEAE5;
}

.staking_menu_inside {
    position: static;
    width: 39vw;
    height: 3.5vw;
    color: #EDEAE5;
    display: flex;
    align-items: center;
    gap: 3vw;
    background-color: #0F0F0F;
    border-radius: 30px;
}

.staking_menu a {
    z-index: 1;
    font-size: 1vw;
    display: inline-block;
    position: relative;
    text-align: center;
}

.staking_menu_inside .animation_menu {
    position: absolute;
    z-index: 0;
    width: 7vw;
    height: 2.5vw;
    margin-left: .5vw;
    background: #EDEAE5;
    border-radius: 30px;
}

.staking_menu_inside a:nth-child(1){
    margin-left: 1vw;
    width: 6vw;
    text-align: center;
    cursor: pointer;
    color: #EDEAE5;
}

.staking_menu_inside .start, a:nth-child(1):hover ~ .animation_menu {
    width: 7vw;
    margin-left: .5vw;
    transition: .5s;
}

.staking_menu_inside a:nth-child(1):hover{
    color: #000000;
    transition: .5s;
}

.staking_menu_inside a:nth-child(2){
    width: 7vw;
    text-align: center;
    cursor: pointer;
}

.staking_menu_inside a:nth-child(2):hover{
    color: #000000;
    width: 7vw;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.staking_menu_inside .start, a:nth-child(2):hover ~ .animation_menu {
    width: 8.5vw;
    margin-left: 9.2vw;
}

.staking_menu_inside a:nth-child(3){
    width: 8vw;
    text-align: center;
    cursor: pointer;
}

.staking_menu_inside a:nth-child(3):hover{
    color: #000000;
    transition: .5s;
}

.staking_menu_inside .start, a:nth-child(3):hover ~ .animation_menu {
    width: 9.5vw;
    margin-left: 19.3vw;
}

.staking_menu_inside a:nth-child(4){
    margin-right: 1vw;
    width: 7vw;
    height: 1.3vw;
    text-align: center;
    cursor: pointer;
    color: #EDEAE5;
}

.staking_menu_inside a:nth-child(4):hover{
    color: #000000;
    transition: .5s;
}

.staking_menu_inside .start, a:nth-child(4):hover ~ .animation_menu {
    width: 7vw;
    margin-left: 30.92vw;
}

.staking_menu_inside a:nth-child(3){
    color: #0A0A0B;
    width: 8vw;
    text-align: center;
    cursor: pointer;
}

.staking_menu_inside a:nth-child(3):hover{
    color: #000000;
    transition: .5s;
}

.staking_menu_inside .start, a:nth-child(3):hover ~ .animation_menu {
    width: 9.5vw;
    margin-left: 19.3vw;
}

.staking_zone {
    width: 70vw;
    height: 28vw;
    background-color: #0F0F0F;
    border-radius: 30px;
}

.border_menu {
    box-sizing: border-box;
}

.choose_dragons{
    width: 70vw;
    height: 28vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 30px;
}

.choose_dragons .card {
    position: relative;
    width: 25vw;
    height: 25vw;
    border-radius: 15px;
    margin: 30px;
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    overflow: hidden;
}

.choose_dragons .card::before {
    content: '';
    position: absolute;
    width: 5vw;
    height: 100vh;
    background-color: transparent;
    animation: animate 4s linear infinite;
}

/* .choose_dragons .card:hover {
    background-color: red;
    overflow: visible;
}

.choose_dragons .card:hover .box{
    transform: translateY(-5vh);
} */

.choose_dragons .card button{
    font-size: 1.2vw;
    background-color: transparent;
    border: 0;
    display: none;
    align-self: flex-end;
    width: 5vw;
    height: 5vh;
    transition: 0.5s;
    cursor: pointer;
}

.choose_dragons .card:hover button {
    display: block;
}

.choose_dragons .card .box {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #1D1D1D;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.choose_dragons .card .box .content {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choose_dragons .card .box .content img {
    margin-top: .7vw;
    width: 14vw;
}

.choose_dragons .card .box .content h2 {
    font-size: 2vw;
    color: #EDEAE5;
    transition: 0.5s;
    pointer-events: none;
    cursor: default;
}

.choose_dragons .card .box .content h3 {
    font-size: 1.2vw;
    color: #EDEAE5;
    transition: 0.5s;
    pointer-events: none;
    cursor: default;
}

.choose_dragons .card .box .content a {
    color: #EDEAE5;
    background-color: #0A0A0B;
    width: 7vw;
    height: 2.5vw;
    margin-top: 1vw;
    align-self: center;
    padding-top: .65vw;
    display: block;
    border-radius: 15px;
    font-size: 1vw;
    transition: .35s;
}

.choose_dragons .card .box .content a:hover {
    background-color: #EDEAE5;
    color: #0A0A0B;
    transition: .35s;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

#box1::before{
    background-color: #64FF41;
}

#rarity1 {
    color: #64FF41;
}

/* #box2::before{
    /* background-color: #EDEAE5; 
} */

#box2 {
    width: 40vw;
    height: 15vw;
}

#box2 .content {
    width: 30vw;
}

#box2 .content .calculator_menu {
    box-sizing: border-box;
    height: 5vw;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box2 .content .calculator_menu input {
    width: 12vw;
    height: 2vw;
    background-color: #0A0A0B;
    border: 0;
    border-radius: 5px;
    text-align: center;
}

#box2 .content .calculator_menu input:focus {
    color: #EDEAE5;
    font-size: 1vw;
}

#box2 .content .calculator_menu input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#box2 .content .calculator_menu .first_column {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vw;
    gap: 4vw;
    color: #EDEAE5;
}

#box2 .content .calculator_menu .first_column .convertion_result {
    width: 12vw;
    height: 2vw;
    background-color: #0A0A0B;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
}

#box2 .content .calculator_menu .first_column .convertion_result .currency {
    margin-left: 1vw;
    color: #64FF41;
    cursor: default;
}

#box2 .content .calculator_menu .first_column .convertion_result .usd_amount {
    margin-right: 4vw;
    cursor: default;
}

#box2 .content .calculator_menu .first_column .blaze_amount, select textarea {
    color: #EDEAE5;
    font-size: 1vw;
}


#box2 .content .calculator_menu .second_column .convert {
    color: #EDEAE5;
    background-color: #0A0A0B;
    width: 5.8vw;
    height: 2.1vw;
    display: block;
    border-radius: 15px;
    font-size: 1vw;
    transition: .35s;
}

#box2 .content .calculator_menu .second_column .convert:hover {
    color: #0A0A0B;
    background-color: #EDEAE5;
    transition: .35s;
}

#rarity2 {
    color: yellow;
}

#box3 {
    width: 40vw;
    height: 8vw;
}

#box3 .content {
    display: flex;
    flex-direction: row;
    width: 36vw;
}

#rarity3 {
    font-size: 1.35vw;
    color: #64FF41;
}

.content3 {
    width: 37vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
}

.content3 .progress {
    width: 25vw;
    height: 1.5vw;
    background: #EDEAE5;
    border-radius: .25vw;
    overflow: hidden;
}

.quantity {
    position: absolute;
    font-size: 1vw;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 1.5vw;
    align-self: center;
}

.progress .progress_bar {
    display: block;
    height: 100%;
    width: 1%;
    background: linear-gradient(90deg, #25960B 15%, #2FFF00 30%, #25960B 45%, #2FFF00 60%, #25960B 75%, #2FFF00 90%, #25960B 100%);
    text-align: center;
    background-size: 50vw 10vw;
    animation: progress-animation 2s linear infinite;
}

@keyframes progress-animation {
    0% {
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}