* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: bahnschrift;
}

body {
    background-color: #0A0A0B;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    box-sizing: border-box;
    max-width: calc(100% - 20px);
    height: 80px;
    color: white;
    font-family: bahnschrift;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: bahnschrift;
    src: url(./bahnschrift.ttf);
}

.dp_logo img {
    width: 4.205vw;
    margin-left: 50px;
    margin-top: 50px;
}

.phantom {
    align-self: center;
}

.phantom_connect {
    width: 8.5vw;
    height: 2.65vw;
    border-radius: 15px;
    background-color: #4E44CE;
    color: #EDEAE5;
    border: 0;
    font-family: bahnschrift;
    font-size: 1.285vw;
    cursor: pointer;
    margin-right: 3;
    transition: 0.5s;
}

.phantom_connect:hover {
    background-color: #EDEAE5;
    color: #000000;
    transform: translateY(-1vh);
    transition: 0.5s;
}

.middle_box {
    width: 37.2vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.28vw;
}



.team_att {
    color: #474747;
    transition: .3s;
}
.merchandise_att {
    color: #474747;
    transition: .3s;
}
.staking_att {
    color: #474747;
    transition: .3s;
}
.whitepaper_att {
    color: #474747;
    transition: .3s;
}

.merchandise_att:hover {
    color: #EDEAE5;
    transition: .3s;
}
.staking_att:hover{
    color: #EDEAE5;
    transition: .3s;
}
.team_att:hover {
    color: #EDEAE5;
    transition: .3s;
}
.whitepaper_att:hover {
    color: #EDEAE5;
    transition: .3s;
}



.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.me_logo {
    margin-top: 12px;
}

.twitter_logo {
    margin-top: 4px;
}

.discord_logo {
    margin-top: 4px;
}

.landing {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.side_menu {
    width: 4vw;
    height: 100%;
    background: #0F0F0F;
    border-radius: 20px;
    margin-left: 1.5vw;
}

.games_menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: #474747;
    text-align: center;
    font-size: 0.7vw;
}

.games_menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.games_menu li img {
    margin-bottom: .5vw;
    width: 20px;
    justify-self: center;
    align-self: center;
    image-orientation: center;
}

.games_menu .Crash:hover {
    color: #EDEAE5;
    background-image: url(./rocketiconwhite.png);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -1px;
}

.games_menu .Plinko:hover {
    color: #EDEAE5;
    background-image: url(./plinkowhite.svg);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -1px;
}

.games_menu .Mines:hover {
    color: #EDEAE5;
    background-image: url(./minewhite.svg);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -1px;
}

.games_menu .Wheel:hover {
    color: #EDEAE5;
    background-image: url(./wheelwhite.svg);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 1px;
}

.games_menu .Jackpot:hover {
    color: #EDEAE5;
    background-image: url(./jackpotwhite.svg);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 1px;
}

.games_menu .Dice:hover {
    color: #EDEAE5;
    background-image: url(./dicewhite.svg);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -1px;
}

.games_menu .Dice_Battle:hover {
    color: #EDEAE5;
    background-image: url(./dicebattlewhite.svg);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -1px;
}

.games_menu .Tower:hover {
    color: #EDEAE5;
    background-image: url(./towerwhite.svg);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -1px;
}

.games_menu .Case_Battle:hover {
    color: #EDEAE5;
    background-image: url(./casewhite.svg);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -1px;
}

.games_menu li:hover img {
    opacity: 0;
}

.center {
    width: 70vw;
    margin-left: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.popular_section {
    width: 100%;
    height: 40%;
}

.popular_header {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw 0 1vw;
}

.popular_title {
    font-size: 1.7vw;
    color: #EDEAE5;
}

.popular_buttons {
    width: 3.05vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular_buttons button{
    border: 0;
    width: 1.35vw;
    height: 1.5vw;
    background-color: #EDEAE5;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.popular_buttons button img{
    width: .75vw;
}

.popular_buttons .left_arrow {
    background-color: #1F1F1F;
}

.popular_buttons .right_arrow {
    background-color: #EDEAE5;
}

.popular_games {
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular_cards {
    width: 13%;
    height: 100%;
    border-radius: 25px;
    border: 1px yellow solid;
}

.live_feed {
    width: 100%;
    height: 57%;
}

.feed_header {
    width: 100%;
    height: 25%;
    cursor: default;
}

.feed_header span {
    font-size: 1.7vw;
    color: #EDEAE5;
    padding-left: 1vw;
}

.feed_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed_menu {
    width: 45%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1vw;
    border-radius: 15px;
    background-color: #0F0F0F;
}

.feed_menu a {
    width: 17%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    font-size: .85vw;
}

.feed_menu a:nth-child(1) {
    color: #EDEAE5;
}

.feed_menu a:nth-child(2) {
    color: #474747;
}

.feed_menu a:nth-child(2):hover {
    color: #EDEAE5;
    transition: .3s;
}

.feed_menu a:nth-child(3) {
    color: #474747;
}

.feed_menu a:nth-child(3):hover {
    color: #EDEAE5;
    transition: .3s;
}

.feed_menu a:nth-child(4) {
    color: #474747;
}

.feed_menu a:nth-child(4):hover {
    color: #EDEAE5;
    transition: .3s;
}

.feed_menu a:nth-child(5) {
    color: #474747;
}

.feed_menu a:nth-child(5):hover {
    color: #EDEAE5;
    transition: .3s;
}

.show select {
    width: 8vw;
    height: 2vw;
    border: 0;
    border-radius: 5px;
    background-color: #0F0F0F;
    color: #EDEAE5;
    cursor: pointer;
}

.show select option {
    display: none;
}

.organization {
    width: 98.5%;
    height: 2vw;
    margin-top: 1.9vw;
    margin-left: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0F0F0F;
    color: #474747;
    border-radius: 10px;
    font-size: .85vw;
    cursor: default;
}

.feed_history {
    width: 98.5%;
    height: 14vw;
    margin-left: 1vw;
}

.feed_history .history {
    width: 100%;
    height: 12.5%;
    display: flex;
    gap: 4.77vw;
    padding-left: 2vw;
    align-items: center;
    border-radius: 7px;
    cursor: default;
}

.feed_history .history span {
    cursor: default;
    text-align: center;
    transition: .2s;
    font-size: 0.85vw;
}

.feed_history .history span:nth-child(1) {
    width: 7vw;
    text-align: center;
}

.feed_history .history span:nth-child(2) {
    width: 7vw;
    text-align: center;
}

.feed_history .history span:nth-child(3) {
    width: 6.65vw;
    text-align: center;
}

.feed_history .history span:nth-child(4) {
    width: 4.3vw;
    text-align: center;
}

.feed_history .history span:nth-child(5) {
    width: 8.3vw;
    text-align: center;
}

.feed_history .history span:nth-child(6) {
    width: 6vw;
    text-align: center;
}

.feed_history .history:nth-child(1) {
    color: #EDEAE5;
    background-color: #0A0A0B;
}

.feed_history .history:nth-child(2) {
    color: #EDEAE5;
    background-color: #0F0F0F;
}

.feed_history .history:nth-child(3) {
    color: #EDEAE5;
    background-color: #0A0A0B;
}

.feed_history .history:nth-child(4) {
    color: #EDEAE5;
    background-color: #0F0F0F;
}

.feed_history .history:nth-child(5) {
    color: #EDEAE5;
    background-color: #0A0A0B;
}

.feed_history .history:nth-child(6) {
    color: #EDEAE5;
    background-color: #0F0F0F;
}

.feed_history .history:nth-child(7) {
    color: #EDEAE5;
    background-color: #0A0A0B;
}

.feed_history .history:nth-child(8) {
    color: #EDEAE5;
    background-color: #0F0F0F;
}

.side_chat {
    background-color: #0F0F0F;
    width: 16.5vw;
    height: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 4vw;
    margin-right: 1.5vw;
}

.inside_chat {
    width: 95%;
    height: 98%;
    display: flex;
    justify-content: center;
}

.chat {
    width: 100%;
    height: 8%;
    margin: .5vw;
    border-radius: 15px;
    border: 0;
    background-color: #0A0A0B;
    font-size: 1vw;
    text-align: left;
    color: #EDEAE5;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 1vw;
}

.side_chat .chat_box {
    width: 70%;
    height: 100%;
    border: 0;
    background-color: #0A0A0B;
    border-radius: 15px;
    font-size: 1vw;
    text-align: left;
    padding-left: .75vw;
    color: #EDEAE5;
}

.chat_title {
    width: 100%;
    height: 3vw;
    font-size: 1.7vw;
    display: flex;
    align-items: center;
    color: #EDEAE5;
    padding-left: 1vw;
    padding-top: 1vw;
}

.chat button {
    width: 13%;
    height: 50%;
    margin: .25vw;
    border: 0;
    border-radius: 5px;
    margin-right: .5vw;
    background-color: #0F0F0F;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat .emoji img{
    width: 1vw;
}

.chat .emoji:hover img{
    width: 1vw;
    opacity: 0;
}

.chat .emoji:hover {
    background-image: url(./emojiswhite.png);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
}

.chat .send img{
    width: 1vw;
}

.chat .send:hover img{
    width: 1vw;
    opacity: 0;
}

.chat .send:hover {
    background-image: url(./sendwhite.png);
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position: center;
}