* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: bahnschrift;
}

:root {
    --background-light: #0F0F0F;
    --background-gray-light: #181818;
};

@font-face {
    font-family: bahnschrift;
    src: url(./bahnschrift.ttf);
}

body {
    background-color: #0A0A0B;
}

body::-webkit-scrollbar {
    display: none;
}


#bo_phone {
    display: none;
}

.phone-nav {
    display: none;
}

.sidebar .text {
    font-size: 1vw;
    font-weight: 400;
}

.sidebar .image {
    min-width: 5vw;
    display: flex;
    align-items: center;
}



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    padding: 1vw;
    color: #EDEAE5;
    background: var(--background-light);
    transition: .2s;
    z-index: 1;
}

.sidebar .image i {
    display: none;
}









.sidebar.close {
    width: 5vw;
    padding-left: .5vw;
    transition: .2s;
}

.sidebar.close .menu-bar {
    height: 69vh;
}

.sidebar.close .toggle {
    width: 1.5vw;
    height: 1.5vw;
    left: 3.75vw;
    top: 1vw;
    font-size: 1vw;
    color: #0A0A0B;
    background-color: #EDEAE5;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: .2s;
}

.sidebar.close .toggle:hover {
    color: #EDEAE5;
    background-color: #0A0A0B;
    transition: .2s;
}

.sidebar.close .text {
    display: none;
    transition: .2s;
    width: 0vw;
} 

.sidebar.close  input {
    display: none;
}

.sidebar.close .user-profile {
    width: 100%;
    height: 15%;
    font-size: 1vw;
    margin-top: 3vw;
}

.sidebar.close .username {
    padding-bottom: 2vw;
}

.sidebar.close .user_image img {
    width: 5vw;
    height: 5vw;
}

.sidebar.close .user_balance {
    display: none;
}








.sidebar .image {
    display: block;
}

.sidebar li {
    height: 2.5vw;
    width: 100%;
    background: var(--background-gray-light);
    margin-top: 1vw;
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: .2s;
}

.sidebar li .icon {
    width: 3vw;
    height: 100%;
    font-size: 1.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.sidebar .logo {
    display: block;
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 3.5vw;
    transition: .2s;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    transition: .2s;
}

.header-text{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s;
}

.header .image-text .header-text {
    display: flex;
    flex-direction: column;
    transition: .2s;
}

.header-text .name {
    font-weight: 600;
    transition: .2s;
    cursor: default;
}

.header-text .profession {
    font-weight: 300;
    transition: .2s;
    cursor: default;
}

.sidebar header .toggle {
    width: 3vw;
    height: 3vw;
    font-size: 1.5vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: -2.5vw;
    border-radius: 1vw;
    transform: translateY(-50%);
    background-color: #0A0A0B;
    cursor: pointer;
    transition: .2s;
}

.sidebar header .toggle:hover {
    background-color: #EDEAE5;
    color: var(--background-light);
    transition: .2s;
}

.sidebar li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    transition: .2s;
}

.nav-link:visited {
    color: #EDEAE5;
}

.sidebar li a:hover {
    background-color: #EDEAE5;
    transition: .2s;
    
}

.sidebar li a:hover:visited {
    background-color: #EDEAE5;
    color: #0A0A0B;
    transition: .2s;
}

.sidebar li a:visited { 
    text-decoration: none; 
    color: #EDEAE5;
    transition: .2s;
}

.user-profile {
    width: 100%;
    height: 25%;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5vw;
    cursor: default;
}

.user-profile .user_image {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile .user_image img {
    width: 10vw;
}

.sidebar .menu-bar {
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .bottom-menu {
    width: 100%;
    height: 90%;
    margin-top: 1vw;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.sidebar .bottom-menu li {
    background-color: #4E44CE;
}

.sidebar .bottom-menu li:hover {
    background-color: #EDEAE5;
    color: #0A0A0B;
    transition: .2s;
    cursor: pointer;
    transform: translateY(-.25vw);
}

.sidebar li:nth-child(3) a {
    cursor: not-allowed;
}

.sidebar li:nth-child(3) a:hover {
    background-color: #181818;
    color: #EDEAE5;
}

.sidebar li:nth-child(5) a {
    cursor: not-allowed;
}

.sidebar li:nth-child(5) a:hover {
    background-color: #181818;
    color: #EDEAE5;
}

.sidebar li:nth-child(6) a {
    cursor: pointer;
}

.sidebar li:nth-child(6) a:hover {
    /* background-color: #181818;
    color: #EDEAE5; */
}

.center-zone {
    width: 95%;
    height: 100vh;
}

.center-zone img {
    width: 100%;
    height: 50vw;
}










.bottom-menu.expand{
    border: 0;
}


/* First Step */
.bottom-menu.expand .connect {
    display: flex;
}

.bottom-menu.expand .disconnect {
    display: none;
}


/* Second Step */

.bottom-menu .connect {
    display: none;
}





.user_balance {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: default;
}

.expand .user_balance {
    display: none;
}

.user_balance .blaze {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 1vw;
    align-items: center;
}

.blaze img {
    width: 5vh;
}

.blaze .b_amount {
    font-size: 2vw;
}

.wallet_address span {
    color: #474747;
}

.wallet_address {
    width: 100%;
    height: 30%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-top: 2vh;
}



















.landing-center {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashboard {
    width: 77.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8vw;
    gap: 4vw;
}

.first-row {
    display: flex;
    justify-content: space-between;
    padding-right: 4vw;
}

.second-row {
    display: flex;
    justify-content: space-between;
    padding-right: 4vw;
}

.payout-amount {
    width: 40%;
    height: 100%;
    border-radius: 15px;
    background-color: var(--background-light);
    cursor: default;
}

.payout-title {
    height: 5vh;
    padding-right: 2vw;
    padding-left: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
}

.payout-title span {
    color: #EDEAE5;
    font-size: 1.5vw;
}

.payout-title .pay-1 {
    font-weight: 600;
}

.payout-title .pay-date {
    font-weight: 400;
    font-size: 1.25vw;
}

.pay-3 {
    margin-bottom: 1vw;
}

.payout-content {
    width: 100%;
    height: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
}

.pay-1 {
    font-size: 5vw;
    color: #EDEAE5;
}

.pay-2 {
    font-size: 2vw;
    color: #CE7644;
    margin-top: 5vh;
    margin-left: .5vw;
}

.pay-amount {
    height: 10vh;
    font-size: 5vw;
    color: #EDEAE5;
}

.pay-date {
    font-size: 2vw;
    color: #EDEAE5;
}

.pay-top {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
}

.pay-bottom {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    margin-top: .5vw;
    color: #EDEAE5;
}

.payout-title .time_span {
    width: 40%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25vw;
    color: #CE7644;
}

.casino-income {
    width: 53%;
    height: 35vh;
    background-color: var(--background-light);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dispensaries-income {
    width: 53%;
    height: 35vh;
    background-color: var(--background-light);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.balances {
    width: 22.5%;
    background-color: var(--background-light);
    cursor: default;
}


.total-balance {
    width: 100%;
    height: 20vh;
    padding-left: .5vw;
}

.tb-title {
    width: 100%;
    height: 15%;
    margin-top: 4vh;
    display: flex;
    align-items: center;
}

.tb-title span {
    font-size: 1.25vw;
    font-weight: 400;
    font-family: bahnschrift;
    padding-left: 1.5vw;
    color: #EDEAE5;
}

.tb_content {
    width: 100%;
    height: 15vh;
    padding-left: 1.5vw;
}

.tb_content .tb_amount {
    font-size: 3vw;
    font-weight: 600;
    color: #EDEAE5;
}

.loss-gain-indicator {
    width: 100%;
    height: 3vh;
    display: flex;
    font-size: 1.15vw;
    align-items: center;
    color: #44CE6B;
    gap: .3vw;
}

.loss-gain-indicator i {
    margin-bottom: .1vw;
}

.my-items {
    width: 100%;
    height: 20vh;
    padding-top: 1vw;
    padding-left: .5vw;
    cursor: default;
}

.mi-title {
    font-size: 1.25vw;
    font-weight: 400;
    font-family: bahnschrift;
    padding-left: 1.5vw;
    color: #EDEAE5;
}

.mi-content {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 2vw;
    padding-top: 2vh;
}

.investment-zone {
    width: 40%;
    height: 40%;
}

.profit-zone {
    width: 40%;
    height: 40%;
}

.inv-left {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.investment-zone .inv-left i {
    font-size: 2.5vw;
    border-radius: 10px;
    color: #448CCE;
}

.profit-zone .inv-left i {
    font-size: 2.5vw;
    border-radius: 10px;
    color: #44CE6B;
}

.inv-right {
    display: flex;
    flex-direction: column;
    color: #EDEAE5;
}

.inv-title {
    font-size: .85vw;
}

.inv-amount {
    font-size: 1.5vw;
    font-weight: 600;
}

.center-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.left-column {
    width: 12.5%;
    height: 85%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
}

.left-column span {
    font-size: .8vw;
    color: #EDEAE5;
}

.bottom-content {
    height: 20%;
    width: 100%;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.bottom-content span {
    font-size: .8vw;
    color: #EDEAE5;
}

.dragons-zone {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2vw;
}

.my-dragons {
    width: 100%;
    height: 55vh;
}

.my-dragons .column {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.my-dragons img {
    width: 7vw;
    height: 7vw;
}

.my-dragons span {
    font-size: 1.25vw;
    font-weight: 400;
    font-family: bahnschrift;
    padding-left: 2.1vw;
    color: #EDEAE5;
}

.card-dragon {
    border-radius: 10px;
    transition: .2s;
}

.card-dragon:hover {
    background-color: #EDEAE5;
    border-radius: 10px;
    transform: translateY(-1vw);
    transition: .2s;
    cursor: pointer;
}

.menu-links a {
    color: #EDEAE5;
}

.menu-links a:hover {
    color: #0A0A0B;
}




















.landing-start {
    width: 95vw;
    height: 100vh;
    margin-left: 5vw;
}

.landing_zone {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-landing {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-landing span {
    font-size: 6vw;
    font-weight: 700;
    color: #EDEAE5;
    cursor: default;
}

.left-landing .subtitle {
    font-size: 1.5vw;
    font-weight: 350;
}

.media-buttons {
    width: 75%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1.5vh;
}

.media-buttons a {
    width: 35%;
    border-radius: 10px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EDEAE5;
    background-color: #0F0F0F;
    cursor: pointer;
    font-size: .85vw;
    transition: .2s;
    text-decoration: none;
    font-weight: 500;
}

.media-buttons a:hover {
    background-color: #EDEAE5;
    color: #0F0F0F;
    transition: .2s;
}

.right-landing {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-landing .floater {
    width: 35vw;
    height: 35vw;
    transform: translateY(-5%);
    animation: floater 5s infinite;
    transition: ease 5s;
}

.right-landing .shadow {
    width: 60%;
    height: 10%;
    margin-top: 4vh;
    margin-right: 2.5vw;
}

@keyframes floater {
    0%{transform: translateY(-5%);transition: ease 5s;}
    50%{transform: translateY(5%);transition: ease 5s;}
}





































.title {
    width: 95%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.title span {
    font-size: 3vw;
    margin-right: 12vw;
}

.staking {
    width: 95vw;
    height: 100vh;
    margin-left: 5vw;
    border: 1px #0A0A0B solid;
}

.staking_center_zone {
    height: 100%;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 10vh;
}

.staking_dragons {
    width: 100%;
    height: 85%;
}

.staking-titles {
    color: #EDEAE5;
    font-size: 2vw;
    font-weight: 700;
    cursor: default;
}

.dragon_row_one {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dragon_row_two {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dragon_card {
    width: 17.5%;
    height: 75%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #0F0F0F;
    transition: .3s;
}

.staking-buttons {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 0 15px 15px;
}

.blaze {
    width: 100%;
    height: 15%;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: .5vw;
    padding-left: 1vw;
}

.blaze span {
    color: #474747;
    font-size: 1vw;
    cursor: default;
}

.dragon_card img {
    width: 70%;
    height: 70%;
}

.dragon_card i {
    font-size: 500%;
    transition: .3s;
    margin-bottom: 32%;
    color: #181818;
}

.dragon_card button:nth-child(1) {
    width: 100%;
    height: 100%;
    font-size: 1.75vh;
    border-radius: 0 0 0 15px;
    border: 1px #EDEAE5 solid;
    cursor: pointer;
    background-color: #0F0F0F;
    color: #EDEAE5;
    transition: .3s;
}

.dragon_card button:nth-child(1):hover {
    background-color: #EDEAE5;
    color: #0A0A0B;
    transition: .3s;
}

.dragon_card button:nth-child(2) {
    width: 100%;
    height: 100%;
    font-size: 1.75vh;
    border-radius: 0 0 15px 0;
    border: 1px #EDEAE5 solid;
    cursor: pointer;
    background-color: #0F0F0F;
    color: #EDEAE5;
    transition: .3s;
}

.dragon_card button:nth-child(2):hover {
    background-color: #EDEAE5;
    color: #0A0A0B;
    transition: .3s;
}

.dragon_row_one .dragon_card:nth-child(2) .locked {
    cursor: not-allowed;
}

.dragon_row_one .dragon_card:nth-child(2) .locked:hover {
    color: red;
    border: 1px red solid;
    background-color: #0F0F0F;
}

.dragon_row_one .dragon_card:nth-child(3) .locked {
    cursor: not-allowed;
}

.dragon_row_one .dragon_card:nth-child(3) .locked:hover {
    color: red;
    border: 1px red solid;
    background-color: #0F0F0F;
}

.dragon_row_two .dragon_card:hover{
    background-color: #474747;
    transition: .3s;
    border: 5px #EDEAE5 dashed ;
    cursor: pointer;
}

.dragon_row_two .dragon_card:hover i{
    color: #EDEAE5;
    transition: .3s;
}




















input {
    width: 50%;
    height: 10%;
    font-size: .85vw;
    color: #EDEAE5;
    background-color: #0F0F0F;
    text-align: center;
    border-radius: 5px;
}

#demo2 {
    color: #EDEAE5;
    font-size: 4vw;
    font-weight: 600;
}

.auction {
    width: 95vw;
    height: 100vh;
    margin-left: 5vw;
    display: flex;
    cursor: default;
}

.left-auction {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-auction img {
    width: 70%;
    height: 70%;
}

.right-auction {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10vh;
}

.nft-general {
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: column;
    color: #EDEAE5;
    /* border: 1px red solid; */
}

.nft-general .title1 {
    font-size: 1.75vw;
    font-weight: 300;
}

.nft-general .title2 {
    font-size: 2.75vw;
    font-weight: 700;
}

.cost-zone {
    width: 100%;
    height: 15%;
    display: flex;
}

.cost {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1vw;
    color: #474747;
    font-size: 1.25vw;
}

.cost-SOL {
    width: 17%;
    background-color: #44CE6B;
    color: #0A0A0B;
    border-radius: 7.5px;
    text-align: center;
    padding-top: .1vw;
}

.description {
    margin-top: 3vh;
    font-size: 1.25vw;
    font-weight: 600;
}

.nft-general ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nft-general li {
    font-size: 1vw;
    margin-left: 1.25vw;
    font-weight: 400;
}

.so_on {
    list-style: none;
}

.highest-ticket-user {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    color: #EDEAE5;
}

.ticket-description {
    height: 100%;
    display: flex;
    align-items: center;
}

.ticket-description span {
    font-size: 1.5vw;
}

.ticket-left span {
    font-size: 1.35vw;
    color: #474747;
}

.tickets-chart {
    width: 80%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside-chart {
    width: 45%;
    margin-top: 4vh;
}

.right-chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.right-chart button {
    width: 50%;
    height: 10%;
    border: 0;
    background-color: #4E44CE;
    border-radius: 10px;
    color: #EDEAE5;
    cursor: pointer;
    transition: .2s;
    font-size: 1.1vw;
}

.right-chart button:hover {
    background-color: #EDEAE5;
    color: #0A0A0B;
    transition: .2s;
}

.tickets-chart span {
    font-size: 1.25vw;
    color: #EDEAE5;
}

.tickets-chart span:nth-child(1) {
    font-size: 2vw;
    font-weight: 800;
}

.tickets-chart span:nth-child(2) {
    font-size: 2vw;
    font-weight: 600;
}
























.information {
    width: 95vw;
    height: 450vh;
    margin-left: 5vw;
    cursor: default;
}

.info-zone {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-split {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-split:nth-child(1) {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-split:nth-child(2) {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15vh;
}

.info-4 {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.info-split:nth-child(2) .info-4:nth-child(1) {
    width: 90%;
    height: 20%;
}

.info-split:nth-child(2) .info-4:nth-child(2) {
    width: 90%;
    height: 20%;
}

.content:nth-child(1) .info:nth-child(2) {
    width: 80%;
    height: 100%;
}

.info-split:nth-child(2) .info-4:nth-child(3) {
    width: 90%;
    height: 20%;
}

.info-split:nth-child(2) .info-4:nth-child(3) .info-content{
    width: 100%;
    height: 100%;
}

.info-split:nth-child(2) .info-4:nth-child(3) #weare {
    text-align: center;
}

.info-4 img {
    width: 100%;
    height: 100%;
}

.info-title {
    width: 100%;
    height: 10%;
    font-size: 3vw;
    font-weight: 600;
    color: #EDEAE5;
    text-align: center;
    margin-top: 5vh;
}

.info-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    height: 100%;
    padding-top: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#third-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}

.info {
    width: 100%;
    height: 100%;
    color: #EDEAE5;
    font-size: 1.35vw;
    font-weight: 300;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5vh;
}

.info-illustration {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-split:nth-child(2) .info-illustration:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.info-illustration a:nth-child(1) {
    width: 50%;
    height: 25%;
    border-radius: 10px;
    margin-top: 7vh;
    margin-left: 2vw;
    background-color: #EDEAE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.info-illustration a:nth-child(1):hover {
    transform: translateY(-10px);
    box-shadow: 7px 7px 10px #4E44CE;
    transition: .2s;
}

.info-illustration a:nth-child(1) img{
    width:75%;
    height: 75%;
}

.info-illustration a:nth-child(2) {
    width: 50%;
    height: 25%;
    border-radius: 10px;
    margin-left: 2vw;
    background-color: #EDEAE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.info-illustration a:nth-child(2) img{
    width:85%;
    height: 85%;
}

.info-illustration a:nth-child(2):hover {
    transform: translateY(-10px);
    box-shadow: 7px 7px 10px #FAD569;
    transition: .2s;
}

#weare {
    width: 85%;
    display: flex;
    flex-direction: column;
}

#weare ul {
    text-align: left;
}

#weare li {
    margin-bottom: 1vh;
    list-style: none;
    margin-top: 3vh;
}

#board {
    width: 100%;
    height: 100%;
}

.info-4:nth-child(2) .info-illustration{
    height: 200%;
}

.cards-container {
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: space-between;
}

.blaze-cards {
    width: 47.5%;
    height: 100%;
    background-color: #0F0F0F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: .2s;
    margin-top: 5.5vh;
}

.cards-container:nth-child(1) .blaze-cards:nth-child(1) {
    display: flex;
    align-items: center;
}

.cards-container:nth-child(1) .blaze-cards:nth-child(1) .cards-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container:nth-child(1) .blaze-cards:nth-child(1) .cards-illustration {
    width: 100%;
    height: 100%;
}

.cards-container:nth-child(1) .blaze-cards:nth-child(1) .cards-title{
    width: 100%;
    padding: 0;
}

.cards-container:nth-child(1) .blaze-cards:nth-child(1) .cards-illustration img{
    width: 80%;
    height: 80%;
}

.cards-container:nth-child(2) .blaze-cards:nth-child(1) {
    display: flex;
    align-items: center;
}

.cards-container:nth-child(2) .blaze-cards:nth-child(1) .cards-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container:nth-child(2) .blaze-cards:nth-child(1) .cards-title{
    width: 100%;
    padding: 0;
}

.cards-container:nth-child(2) .blaze-cards:nth-child(1) .cards-illustration {
    width: 100%;
    height: 100%;
}

.cards-container:nth-child(2) .blaze-cards:nth-child(1) .cards-illustration img{
    width: 90%;
    height: 90%;
}

.blaze-cards:hover {
    background-color: #EDEAE5;
    transition: .2s;
    transform: translateY(-10px);
}

.blaze-cards:hover .cards-title{
    color: #0A0A0B;
    transition: .2s;
}

.cards-title {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.35vw;
    color: #EDEAE5;
    margin-top: 1.5vh;
}

.cards-illustration {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-content img{
    width: 80%;
    height: 100%;
}

#box img{
    width: 85%;
    height: 85%;
}

#rent {
    width: 80%;
    height: 80%;
}


#revenue {
    width: 90%;
    height: 40%;
}

#revenue ul {
    list-style: none;
}

#revenue li {
    margin-bottom: 1vh;
}

#revenue li:nth-child(1) {
    color: #44CE6B;
}

#revenue li:nth-child(3) {
    color: #FAD569;
    margin-top: 3vh;
}

.timer-cards {
    width: 80%;
    height: 45%;
    background-color: #0F0F0F;
    border-radius: 10px;
    color: #EDEAE5;
}

.timer-first-row {
    width: 100%;
    height: 25%;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5vh;
}

.timer-first-row span:nth-child(1) {
    font-weight: 600;
}

.timer-first-row span:nth-child(2) {
    font-weight: 300;
}

.week {
    color: #44CE6B;
}

.month {
    color: #FAD569;
}

.timer-second-row {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-second-row img {
    width: 13%;
    height: 50%;
    margin-bottom: 1vh;
}

.timer-second-row span:nth-child(2) {
    font-size: 3.5vw;
}

.timer-second-row span:nth-child(3) {
    width: 20%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    font-size: 1.5vw;
    font-weight: 300;
}

.collect {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collect button {
    width: 35%;
    height: 100%;
    border: 0;
    font-size: .90vw;
    border-radius: 7.5px;
    margin-bottom: 3vh;
    cursor: not-allowed;
    transition: .2s;
    padding-top: .35vh;
}

.collect button:hover{
    background-color: #44CE6B;
    transition: .2s;
}

.collect #yellow:hover{
    background-color: #FAD569;
    transition: .2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
};










@media (max-width: 799px) {

    .phone-nav {
        display: block;
        position: fixed;
        width: 100%;
        height: 7.5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4vw;
        background-color: #0A0A0B;
    }

    .phone-nav span {
        font-size: 5.5vw;
        font-weight: 800;
        margin-top: 2.5vh;
        color: #EDEAE5;
    }

    .phone-nav i {
        font-size: 6vh;
        margin-top: 1vw;
        color: #EDEAE5;
    }

    .sidebar.close {
        display: block;
        width: 100%;
        background-color: #0A0A0B;
    }

    .sidebar.close .toggle{
        display: none;
    }

    .sidebar.close .header-text {
        width: 75%;
        height: 10vh;
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3.5vh;
    }

    .sidebar .logo {
        display: none;
    }

    .sidebar.close .header-text .profession {
        display: none;
    }

    .sidebar.close .user-profile{
        height: 30vh;
    }

    .sidebar.close .username {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sidebar.close .username span {
        font-size: 3.5vh;
    }

    .sidebar.close .user_image img {
        width: 30vh;
    }

    .toggle {
        display: none;
    }

    .sidebar.phone{
        display: none;
        width: 100%;
        background-color: #0A0A0B;
    }

    .sidebar.close.phone{
        display: none;
    }

    .sidebar.phone .toggle {
        display: none;
    }

    #bo_menu {
        display: block;
    }

    .image-text {
        width: 100%;
    }

    .header-text .name {
        display: none;
        color: #EDEAE5;
    }

    .image {
        width: 15vw;
        height: 7vh;
        font-size: 5vh;
        padding-left: 4vw;
    }

    .image img {
        width: 100vw;
    }

    .sidebar.close .menu-bar {
        height: 57vh;
    }

    .menu {
        height: 100vh;
    }

    .menu-links {
        height: 40vh;
        padding: 1vh;
    }

    .sidebar.close .nav-link {
        height: 6.5vh;
    }

    .sidebar .nav-link .icon {
        font-size: 4vh;
        width: 7vh;
    }

    .sidebar.close .text {
        display: block;
        width: 100%;
        font-size: 3vh;
    }
















    .balances {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        padding-top: 5vw;
        background-color: #0A0A0B;
    }

    .balances.phone {
        display: none;
    }

    .balances .total-balance {
        width: 100%;
        height: 25%;
        padding-left: 10vw;
    }

    .balances .tb-title {
        width: 100%;
        height: 15%;
    }

    .balances .tb-title span {
        font-size: 4vh;
    }

    .balances .tb_content .tb_amount {
        font-size: 7vh;
    }

    .balances .loss-gain-indicator span {
        font-size: 5vh;
    }

    .balances .loss-gain-indicator i {
        font-size: 5vh;
    }

    .phone_balance_icon {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4vw;
    }

    .my-items {
        width: 100%;
        margin-top: 4vh;
    }

    .mi-title {
        width: 100%;
        height: 4vh;
        font-size: 3.85vh;
        padding-left: 11.5vw;
    }

    .mi-content {
        gap: 7vw;
    }

    .investment-zone {
        width: 40%;
        height: 50%;
    }

    .profit-zone {
        width: 40%;
        height: 50%;
    }

    .investment-zone .inv-left i {
        font-size: 5vh;
        color: #448CCE;
    }

    .profit-zone .inv-left i {
        font-size: 5vh;
        color: #44CE6B;
    }

    .inv-right {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .inv-title {
        font-size: 3vh;
    }

    .inv-amount {
        font-size: 4vh;
    }

    #bo_phone {
        display: block;
        font-size: 6vh;
        color: #EDEAE5;
    }


    .my-dragons {
        height: 50%;
    }

    .my-dragons span {
        font-size: 4vh;
        margin-left: 10vw;
    }

    .column img{
        width: 13vh;
        height: 13vh;
    }








    .center-zone {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }





    .landing-center .dashboard{
        width: 100vw;
        height: 130vh;
        padding-left: 0;
        margin-top: 7.5vh;
        border: 1px yellow solid;
    }

    .first-row {
        width: 100vw;
        margin-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-row .casino-income {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5vw;
    }

    .first-row .payout-amount {
        width: 90vw;
        height: 20vh;
    }

    .first-row .payout-title {
        height: 30%;
    }

    .first-row .pay-1 {
        font-size: 3vh;
        margin-left: 1.5vw;
    }

    .first-row .time_span {
        width: 50%;
        font-size: 3vh;
    }

    .first-row .payout-content {
        height: 65%;
    }

    .first-row .pay-top {
        height: 35%;
    }

    .first-row .pay-amount {
        font-size: 7vh;
        padding-top: 2.5vh;
    }

    .first-row .pay-2 {
        font-size: 3.5vh;
    }

    .first-row .pay-3 {
        margin-top: 2vh;
        font-size: 2.5vh;
    }

    .second-row {
        width: 100vw;
        margin-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second-row .dispensaries-income {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5vw;
    }

    .second-row .payout-amount {
        width: 90vw;
        height: 20vh;
    }

    .second-row .payout-title {
        height: 30%;
    }

    .second-row .pay-1 {
        font-size: 3vh;
        margin-left: 1.5vw;
    }

    .second-row .payout-content {
        height: 65%;
    }

    .second-row .pay-top {
        height: 35%;
    }

    .second-row .pay-amount {
        font-size: 7vh;
        padding-top: 2.5vh;
    }

    .second-row .pay-2 {
        font-size: 3.5vh;
    }


    .sidebar.close .nav-link {
        color: #EDEAE5;
    }
    
    .sidebar li a:hover {
        background-color: #EDEAE5;
        transition: .2s;
        
    }
    
    .sidebar li a:hover:visited {
        background-color: #EDEAE5;
        color: #0A0A0B;
        transition: .2s;
    }



















    .staking {
        width: 100vw;
        height: 100vh;
        margin-top: 45vh;
        margin-left: 0;
        border: 1px yellow solid;
    }
}