* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0A0A0B;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    width: 100%;
    height: 80px;
    color: white;
    font-family: bahnschrift;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: bahnschrift;
    font-size: 32px;
}

a {
    color: white;
    text-decoration: none;
}

.IDname {
    margin-left: 40px;
}

.dp_logo {
    margin-left: 120px;
    margin-top: 20px;
}

.middle_box {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-size: 24px;
    margin: 20px;
    display: none;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.hamburger {
    display: none;
}

.phone_version {
    display: none;
}

.logomobile {
    display: none;
}

.me_logo {
    width: 80px;
    height: 48px;
    margin-right: 40px;
    margin-top: 12px;
}

.twitter_logo {
    margin-top: 4px;
}

.discord_logo {
    margin-top: 4px;
}

.landing_weed {
    width: 1920px;
    height: 920px;
    background-image: url(./weed.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 540px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
    padding-left: 300px;
    padding-top: 280px;
    cursor: default;
}

.slogan {
    font-family: bahnschrift;
    font-size: 80px;
    width: 700px;
    height: 200px;
    color: white;
}

.slogan_description {
    width: 600px;
    display: flex;
    font-family: bahnschrift;
    font-size: 24px;
    color: gray;
    margin-left: 30px;
}

.about {
    width: 1920px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-items: space-between;
    font-family: bahnschrift;
    margin-top: 80px;
    margin-left: 100px;
    gap: 100px;
}

.second_page {
    display: flex;
    flex-direction: column;
    margin-right: 160px;
}

.au_image {
    width: 800px;
    height: 800px;
    background-image: url(./logo800.svg);
    background-repeat: no-repeat;
}

.au_wwa {
    color: #F5FA00;
    font-size: 60px;
}

.au_description {
    width: 700px;
    color: gray;
    font-size: 24px;
    margin-left: 30px;
    margin-top: 16px;
}

.learn_more {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 12px;
    border: 0;
    font-family: bahnschrift;
    font-size: 20px;
    align-self: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #0A0A0B;
    align-self: center;
}


.learn_more:hover {
    background-color: #808080;
    color: white;
}

.tokenomics {
    width: 1920px;
    height: 910px;
    display: flex;
    align-items: center;
    justify-items: space-between;
    flex-direction: row-reverse;
    font-family: bahnschrift;
    gap: 100px;
}

.token_img {
    width: 800px;
    height: 800px;
    background-image: url(./COIN0000.jpg);
    background-position: center;
    background-size: 1700px;
    background-repeat: no-repeat;
    margin-right: 200px;
}

.token_box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blaze_title {
    color: white;
    font-size: 60px;
    font-family: bahnschrift;
}

.blaze_description {
    width: 550px;
    color: gray;
    font-size: 24px;
    margin-top: 16px;
    margin-left: 30px;
}

.token_buy {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 12px;
    border: 0;
    font-family: bahnschrift;
    font-size: 20px;
    align-self: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #0A0A0B;
    align-self: center;
}

.token_buy:hover {
    background-color: #808080;
    color: white;
}

.slider {
    height: 512px;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide_track {
    display: flex;
    width: calc(512px * 24);
    animation: scroll 30s linear infinite;
}

.slide_track:hover {
    animation-play-state: paused;
}

.slide {
    width: 512px;
    height: 512px;
    display: flex;
    align-items: center;
    perspective: 100px;
}

.slide img {
    width: 85%;
}

img:hover {
    transform: translateZ(20px);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-350px * 29));
    }
}

@media (max-width: 1000px){
    * {
        font-family: bahnschrift;
    }

    nav {
        box-sizing: border-box;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    /* .dp_logo {
        display: none;
    } */

    .IDname {
        display: none;
    }

    .about {
        display: none;
    }

    .phone_version {
        box-sizing: content-box;
        height: 816px;
        display: flex;
        justify-content: baseline;
        align-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(./weed2.png);
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    .logomobile {
        box-sizing: content-box;
        align-self: center;
        display: block;
    }

    .slogan2 {
        font-family: bahnschrift;
        color: white;
        font-size: 45px;
    }

    .slogan3 {
        width: 377.28px;
        font-family: bahnschrift;
        color: white;
        font-size: 45px;
    }

    .slogan_description2 {
        width: 377.28px;
        font-family: bahnschrift;
        font-size: 24px;
        color: gray;
        padding-left: 25px;
    }

    .WUC {
        font-family: bahnschrift;
        font-size: 35px;
        color: #F5FA00;
        margin-top: 100px;
    }

    .middle_box a {
        display: none;
    }

    .icons {
        display: none;
    } 

    .hamburger {
        display: block;
        margin-right: 21px;
    }


    /* .about {
        display: none;
    }
    .tokenomics {
        display: none;
    }
    .slider {
        display: none;
    } */
}