* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: bahnschrift;
}

body {
    background-color: #0A0A0B;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    box-sizing: border-box;
    max-width: calc(100% - 20px);
    height: 80px;
    color: white;
    font-family: bahnschrift;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

.dp_logo img {
    width: 4.205vw;
    margin-left: 50px;
    margin-top: 50px;
}

.phantom {
    align-self: center;
}

.phantom_connect {
    width: 8.5vw;
    height: 2.65vw;
    border-radius: 15px;
    background-color: #4E44CE;
    color: #EDEAE5;
    border: 0;
    font-family: bahnschrift;
    font-size: 1.285vw;
    cursor: pointer;
    margin-right: 3;
    transition: 0.5s;
}

.phantom_connect:hover {
    background-color: #EDEAE5;
    color: #000000;
    transform: translateY(-1vh);
    transition: 0.5s;
}

.middle_box {
    width: 37.2vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.28vw;
}

.merchandise_att {
    color: #1D1D1D;
}
.team_att {
    color: #1D1D1D;
}
.merchandise_att {
    color: #1D1D1D;
}
.whitepaper_att {
    color: #1D1D1D;
}





.merchandise_att:hover {
    color: #EDEAE5;
}
.team_att:hover {
    color: #EDEAE5;
}
.merchandise_att:hover {
    color: #EDEAE5;
}
.whitepaper_att:hover {
    color: #EDEAE5;
}



.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.me_logo {
    margin-top: 12px;
}

.twitter_logo {
    margin-top: 4px;
}

.discord_logo {
    margin-top: 4px;
}

.staking_section {
    box-sizing: border-box;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.staking_menu {
    width: 70vw;
    height: 3.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5vw;
}

.staking_menu button {
    border: none;
    height: 60px;
    color: #EDEAE5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: transparent;
    border-radius: 30px;
    font-size: 1vw;
}

.dashboard {
    cursor: pointer;
}
.stake_dragons {
    cursor: pointer;
}
.exchange_blaze {
    cursor: pointer;
}
.withdrawal_history {
    cursor: pointer;
}

.staking_title {
    font-size: 4.26vw;
}

.staking_menu_inside {
    width: 40vw;
    height: 3.5vw;
    color: #EDEAE5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0F0F0F;
    border-radius: 30px;
}

.staking_zone {
    width: 70vw;
    height: 28vw;
    background-color: #0F0F0F;
    border-radius: 30px;
}

.border_menu {
    box-sizing: border-box;
}

.choose_dragons{
    width: 70vw;
    height: 28vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 30px;
}

.choose_dragons .card {
    position: relative;
    width: 15vw;
    height: 22vw;
    border-radius: 15px;
    margin: 30px;
    background-color: #A911B6;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.1s;
}

.choose_dragons .card:hover {
    background-color: red;
}

.choose_dragons .card button{
    font-size: 1.2vw;
    background-color: transparent;
    border: 0;
    display: none;
    width: 5vw;
    height: 5vh;
    transition: 0.5s;
    cursor: pointer;
}

.choose_dragons .card:hover button {
    display: block;
}

.choose_dragons .card .box {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: #1D1D1D;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.choose_dragons .card .box .content {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choose_dragons .card .box .content img {
    width: 14vw;
}

.choose_dragons .card .box .content h2 {
    font-size: 2vw;
    color: #EDEAE5;
    transition: 0.5s;
    pointer-events: none;
}

.choose_dragons .card .box .content h3 {
    font-size: 1.5vw;
    color: #EDEAE5;
    transition: 0.5s;
    pointer-events: none;
}

.choose_dragons .card:hover .box {
    transform: translateY(-50px);
    transition: 0.5s;
    box-shadow: 0 10px 40px red;
}

.choose_dragons .card .box .content a {
    color: #EDEAE5;
    display: inline-block;
    border-radius: 20px;
    font-size: 1vw;
}